In [1]:
# Import libraries
import pandas as pd

from sklearn import model_selection
from sklearn.ensemble import AdaBoostClassifier

from sklearn import svm
from xgboost import XGBClassifier

In [2]:
# Load dataset
dataframe = pd.read_csv('pima-indians-diabetes.csv')
dataframe.head()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1

In [7]:
# Extract the independent and dependent variable values from the columns in form of an array 
data = dataframe.values
X = data[:,0:8]
Y = data[:,8]

# Set the random seed value and the number of trees
seed = 7
num_trees = 30

In [10]:
# Split training and test sets according to K-Fold Validation - 10 consecutive folds
kfold = model_selection.KFold(n_splits=10, shuffle=True, random_state=seed)           

# Build Classifiers using AdaBoost
model = AdaBoostClassifier(n_estimators=num_trees)

# Fit the model
results = model_selection.cross_val_score(model, X, Y, cv=kfold)        # one fold used as a validation, the remaining nine form the training set

print("Result average:", results.mean())

Result average: 0.7552802460697198

In [11]:
# Split training and test sets according to K-Fold Validation - 10 consecutive folds
kfold = model_selection.KFold(n_splits=10) 

# Build Classifiers using XGBoost
model = XGBClassifier(n_estimators=num_trees, random_state=seed)

# Fit the model
results = model_selection.cross_val_score(model, X, Y, cv=kfold)        # one fold used as a validation, the remaining nine form the training set

print("Result average:", results.mean())

# Improved average

Result average: 0.768215994531784